.st0 {
  fill: none;
  stroke: #d2e744;
  stroke-width: 1.7414;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #d2e744;
}
.st2 {
  fill: #f4e2e1;
}
.st3 {
  fill: #91a317;
}
.st4 {
  fill: none;
  stroke: #2a1953;
  stroke-width: 1.7414;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #f19789;
}
.st6 {
  fill: none;
  stroke: #f4e2e1;
  stroke-width: 1.7414;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st7 {
  fill: #54b594;
}
.st8 {
  fill: none;
  stroke: #91a317;
  stroke-width: 1.7414;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st9 {
  fill: none;
  stroke: #54b594;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.st10 {
  fill: #c66779;
}
.st11 {
  fill: #54b594;
  stroke: #d2e744;
  stroke-miterlimit: 10;
}
.st12 {
  fill: none;
  stroke: #d2e744;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
