.stp30 {
  fill: #8cc63f;
}
.stp31 {
  fill: #54b594;
}
.stp32 {
  fill: #818d94;
}
.stp33 {
  fill: #f7931e;
}
.stp34 {
  fill: #c1272d;
}
.stp35 {
  fill: #d2e744;
  stroke: #d2e744;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.stp36 {
  fill: #d2e744;
}
.stp37 {
  fill: none;
  stroke: #d2e744;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
